@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 38px;
    }
    &__logo {
        margin-right: auto;
    }
    &__logo-icon {
        max-width: 139px;
        max-height: 37px;
        fill: $accent;
    }
    &__menu {
        display: flex;
        align-items: center;
    }
    &__burger {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        margin-bottom: 10px;
        & span {
            width: 30px;
            height: 4px;
            background-color: $accent;
            border-radius: 2px;
            margin: 2px 0;
        }
    }
    &__menu-list {
        display: flex;
        align-items: center;
    }
    &__menu-item {
        margin-left: 20px;
    }
    &__menu-item.active {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: #fff;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: -1;
        }
    }
    &__menu-link,
    &__reg-link {
        color: $menu-black;
        font-size: 14px;
        font-weight: 500;
        transition: all .3s;
        &:hover {
            color: $accent;
        }
    }
    &__reg-link {
        margin-left: 95px;
        margin-right: 20px;
    }
    &__btn {
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        padding: 5px 23px;
        background-color: $accent;
        border-radius: 5px;
        transition: all .3s;
        &:hover {
            background-color: #464377;
        }
    }
}
.fixed {
    position: fixed;
    background-color: #DCF0F6;
    padding: 10px 0;
    box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
    & .header__inner {
        padding: 0;
    }
}

.top {
    background-color: #DCF0F6;
    background-image: url(../images/top-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    margin-bottom: 258px;
    &__inner {
        padding: 262px 0 268px;
    }
    &__title {
        font-family: 'Roboto', sans-serif;
        font-size: 66px;
        font-weight: 400;
        line-height: 1.16;
        max-width: 587px;
        margin-bottom: 48px;
        & span {
            font-weight: 700;
            color: $accent;
            text-transform: uppercase;
        }
    }
    &__link {
        font-weight: 500;
        color: $main-black;
        padding-right: 26px;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: 16px;
            height: 16px;
            background-image: url(../images/arrow-right.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            transition: all .3s;
        }
        &:hover.top__link::after {
            right: -10px;
        }
    }
    &__form {
        max-width: 1110px;
        padding: 34px 29px;
        background-color: #fff;
        box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
        border-radius: 12px;
        position: absolute;
        bottom: -150px;
    }
    &__dropdowns {
        display: flex;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 24px;
    }
    &__dropdown {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-right: 10px;
        position: relative;
        &:last-child {
            width: 105px;
        }
    }
    &__hidden-input {
        max-width: 100px;
        display: none;
    }
    &__dropdown-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        padding-right: 25px;
        cursor: pointer;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: 8px;
            height: 5px;
            background-image: url(../images/dropdown-arrow.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0 0;
            top: 50%;
            transform: translateY(-50%);
            right: 7px;
        }
    }
    &__dropdown-list {
        display: none;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
        position: absolute;
        z-index: 3;
        top: 21px;
        left: 0;
        padding: 10px 5px;
        background-color: #fff;
        &.open {
            display: block;
        }
    }
    &__dropdown-item {
        margin: 8px 0;
        transition: all .3s;
        cursor: pointer;
        &:hover {
            color: $accent;
        }
    }
    &__form-row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 16px;
    }
    &__form-box {
        padding: 15px 20px;
        border: 1px solid #AAAAAA;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: start;
        &.date {
            flex-direction: row;
            justify-content: center;
            margin-left: auto;
        }
        &:last-child {
            margin-left: 30px;
        }
    }
    &__form-box:first-child {
        margin-right: 40px;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: 28px;
            height: 28px;
            border: 0.466667px solid #AAAAAA;
            border-radius: 50%;
            background-image: url(../images/arrows-left-right.svg);
            background-repeat: no-repeat;
            background-size: 16px 16px;
            background-position: 50% 50%;
            top: 50%;
            transform: translateY(-50%);
            right: -34px;
        }
    }
    &__form-subtext {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        color: $grey;
    }
    &__form-input {
        margin: 5px 0;
        border: none;
        font-size: 24px;
        font-weight: 600;
        color: $main-black;
        cursor: pointer;
        max-width: 250px;
        &::placeholder {
            font-size: 24px;
            font-weight: 600;
            color: $main-black;
        }
    }
    &__date {
        display: flex;
        flex-direction: column;
        align-items: start;
        max-width: 156px;
        &:first-child {
            margin-right: 40px;
        }
    }
    &__date .top__form-input {
        max-width: 155px;
        padding-right: 30px;
        background-image: url(../images/calendar-icon.svg);
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: right;
    }
    &__date-btns {
        display: flex;
        align-items: center;
    }
    &__date-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        font-size: 14px;
        font-weight: 500;
        color: $grey;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
        &:first-child {
            margin-right: 44px;
        }
    }
    &__form-link {
        display: block;
        font-size: 14px;
        font-weight: 500;
        color: $main-black;
        text-decoration: underline;
    }
    &__form-btn {
        font-size: 18px;
        color: #fff;
        padding: 27px 95px 27px 30px;
        border-radius: 10px;
        background-color: $accent;
        border: none;
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        transition: all .3s;
        &::after {
            position: absolute;
            content: '';
            width: 16px;
            height: 16px;
            background-image: url(../images/arrow-right-wht.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            top: 50%;
            transform: translateY(-50%);
            right: 30px;
        }
        &:hover {
            background-color: #464377;
        }
    }
}

.private {
    &__inner {
        padding-bottom: 83px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        margin-bottom: 65px;
    }
    &__item {
        padding: 65px 0;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            background-color: #e5f4f6;
            top: 0;
            bottom: 0;
            height: 100%;
            left: -550px;
            right: 80%;
            border-radius: 50px;
            z-index: -1;
        }
    }
    &__item:nth-child(odd) {
        & .private__item-info {
            order: -1;
            margin-right: 38px;
        }
        & .private__item-img {
            margin-right: 0;
        }
        &::before {
            right: -550px;
            left: 75%;
        }
    }
    &__item-img {
        max-width: 590px;
        margin-right: 38px;
        border-radius: 20px;
        overflow: hidden;
        align-self: stretch;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    }
    &__item-info {
        max-width: 465px;
    }
    &__item-title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 14px;
    }
    &__item-text {
        color: $grey;
        letter-spacing: .02em;
    }
}

.specifications {
    &__inner {
        padding-bottom: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        margin-bottom: 68px;
    }
    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 370px;
        &:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__card {
        background-color: #fff;
        box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
        border-radius: 12px;
        padding: 40px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100%;
    }
    &__card-img {
        margin-bottom: 13px;
    }
    &__card-icon {
        max-width: 55px;
        max-height: 55px;
        object-fit: cover;
    }
    &__card-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 11px;
        text-transform: uppercase;
    }
    &__card-text {
        color: $grey;
        letter-spacing: .02em;
        margin-bottom: 10px;
        flex-grow: 1;
    }
    &__item-img {
        padding: 0 30px;
        z-index: -1;
        transform: translateY(-20px);
    }
}

.luxary {
    background-image: url(../images/luxary-bg.svg);
    background-repeat: no-repeat;
    background-size: 855px 340px;
    background-position: bottom right;
    &__inner {
        padding-bottom: 58px;
        text-align: center;
    }
    &__title {
        margin-bottom: 69px;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -15px;
    }
    &__col {
        width: 25%;
        padding: 15px;
    }
    &__card {
        max-width: 255px;
        background-color: #fff;
        box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
        border-radius: 12px;
        padding: 10px 12px;
        height: 100%;
    }
    &__card-img {
        margin-bottom: 14px;
        border-radius: 12px;
        overflow: hidden;
        max-width: 230px;
        height: 190px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__card-text {
        font-weight: 500;
        text-transform: capitalize;
    }
}

.membership {
    &__inner {
        display: flex;
        flex-direction: column;
    }
    &__title {
        margin-bottom: 105px;
        align-self: center;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        border-radius: 20px;
        margin: 0 -8px 20px;
    }
    &__col {
        width: 33.33%;
        padding: 8px;
        background-color: #F5F5F5;
        cursor: pointer;
        transition: all .3s;
        &:first-child {
            border-radius: 20px 0 0 20px;
        }
        &:last-child {
            border-radius: 0 20px 20px 0;
        }
    }
    &__col:hover {
        background-color: #fff;
        .membership__card {
            max-width: 384px;
            margin: 0 auto;
            color: #fff;
            background-color: $accent;
            transform: translateY(-40px);
        }
        .membership__card-item::before {
            background-image: url(../images/check-circle-wht.svg);
        }
        .membership__card-btn {
            background-color: #fff;
            color: $main-black;
            box-shadow: 0px 12px 32px rgba(255, 255, 255, 0.2);
        }
    }
    &__card {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 24px;
        background-color: #F5F5F5;
        max-width: 400px;
        border-radius: 20px;
        transition: all .3s;
        margin: 0 auto;
    }
    &__card-title {
        font-size: 32px;
        margin-bottom: 32px;
    }
    &__card-text {
        font-size: 22px;
        color: #A9A9AA;
        margin-bottom: 24px;
    }
    &__card-list {
        border-bottom: 1px dashed #A9A9AA;
        margin-bottom: 65px;
        flex-grow: 1;
    }
    &__card-item {
        font-weight: 500;
        margin-bottom: 16px;
        padding-left: 32px;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 24px;
            height: 24px;
            background-image: url(../images/check-circle.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0 0;
            top: 0;
            left: 0;
        }
    }
    &__card-price {
        font-size: 18px;
        margin-bottom: 24px;
        & b {
            font-size: 32px;
        }
    }
    &__card-btn {
        font-size: 22px;
        font-weight: 600;
        color: #fff;
        background-color: $accent;
        padding: 12px;
        border-radius: 12px;
        text-align: center;
    }
    &__img {
        align-self: center;
        max-width: 758px;
        transform: translateX(100px);
        & img {
            width: 100%;
            object-fit: cover;
        }
    }
}

.footer {
    background-color: $accent;
    &__inner {
        display: flex;
        flex-direction: column;
    }
    &__logo {
        align-self: center;
        padding: 50px 0 30px;
    }
    &__logo-icon {
        width: 140px;
        height: 37px;
        fill: #fff;
    }
    &__nav {
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px 0 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    &__nav-list {
        display: flex;
        align-items: center;
    }
    &__nav-item {
        text-transform: uppercase;
        margin-right: 30px;
    }
    &__nav-link {
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.7);
    }
}



@import 'media';